---
title: RelativityX
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">RelativityX Data Science Research Laboratory</h2>
		<p class="subtext editable">RelativityX is an organization of elite Data Scientists and Engineers focused on <strong>Research and Development</strong>.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Partner with Us</a></p>
	</div>
</section>

<!--<section class="diagonal patterned">
</section>-->

<!--<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>-->

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/client1-logo.png" width="250"></li>
				<li><img src="{{ site.baseurl }}/images/client2-logo.png" width="300"></li>
				<li><img src="{{ site.baseurl }}/images/client3-logo.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Latest Data Science, Artificial Intelligence and Machine Learning Methodoligies, greatest perfomance</h3>
			<p class="editable">We aim to provide state of the art data science based insights in order to boost your company's bottom line.</p>
		</div>
	</div>
</section>
